# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Configuración del entorno
.env
.env.local
.env.development
.env.production
.DS_Store

# Archivos de logs
logs
*.log
logs/*.log
debug.log
error.log

# Datos temporales
tmp/
dist/
build/
coverage/

# Configuración de editores
.vscode/
.idea/
*.swp
